.loader {
	display: flex;
	justify-content: center;
	padding: 20px 0;
}

.loader > div {
	width: 20px;
	height: 20px;
	border: 2px solid #edebe9;
	border-top: 2px solid #000;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
