.settings__content__color_scheme {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	line-height: 30px;
}

.settings__content__color_scheme__title {
	color: var(--text-color-hover);
}

.settings__content__color_scheme__title__active {
	color: var(--text-color);
}

/* Switch button */
.switch {
	position: relative;
	width: 60px;
	height: 30px;
	margin: 0 10px;
}

.switch label {
	position: absolute;
	width: 100%;
	height: 30px;
	background: var(--background-color-secondary);
	border-radius: 50px;
	cursor: pointer;
}

.switch input {
	position: absolute;
	display: none;
}

.slider {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50px;
	-webkit-transition: 0.275s;
	-o-transition: 0.275s;
	transition: 0.275s;
}

.switch input:checked ~ .slider {
	background: var(--background-color-secondary);
}

.slider::before {
	content: "";
	position: absolute;
	top: 3.75px;
	left: 3.75px;
	width: 22.5px;
	height: 22.5px;
	border-radius: 50%;
	-webkit-box-shadow: inset 8px -2px 0px 0px var(--text-color);
	box-shadow: inset 8px -2px 0px 0px var(--text-color);
	background: var(--background-color-secondary);
	-webkit-transition: 0.275s;
	-o-transition: 0.275s;
	transition: 0.275s;
}

.switch input:checked ~ .slider::before {
	-webkit-transform: translateX(30px);
	-ms-transform: translateX(30px);
	transform: translateX(30px);
	background-color: var(--text-color);
	-webkit-box-shadow: none;
	box-shadow: none;
}
